
.App-header {
  text-align: center;
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}

/* .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  justify-content: center;

} */
.title {
  height: 350px;
  width: 350px;
  margin: 10px;
  background: gray;
  float: left;
  font-size: 11px;
  text-align: left;
}
img{
  height:200px;
  width: auto;
}
.newBook {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}
/* .newBook {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
} */

input{
  border: 1px solid pink;
  background: white;
  outline: none;
  margin:5px;
  width: 250px;
  height: 30px;
  font-size: 13px;

}
form{
  padding: 25px;
}

input:focus {
  border: solid 1px red;
}
