
:root {
  --black: #030303;
  --dark-gray: #4e4e4e;
  --gray: #7b7b7b;
  --light-gray: #acacac;
  --white: #ffffff;
  --background: whitesmoke;

}
body {
  padding: 5rem;
  background-color: var(--background);
  text-align: center;
}

h2 {
  color: var(--dark-gray);
  text-transform: uppercase;
  text-align: center;
}

main .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center; 
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.container img {
  width: auto;
  height: 350px;
  filter: grayscale(50%); 
}
img:hover {
  width: auto;
  height: 350px;
  filter: grayscale(0%);  
}
form.new {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 11px;
  margin: 0 auto;

}


form {
  width: 400px;
  margin: 0 auto;
}

form div {
  margin: 1rem;
  width: 100%;
}
form label {
  margin-bottom: 1rem;
  display: inline-block;
  color: var(--dark-gray);
}
form input {
  padding: 1rem;
  margin: 0 0rem;
  width: 90%;
  border-radius: 1px;
  border: 0;
  border: .65px solid var(--gray);
}

input[type="submit"], button {
  background-color: var(--black);
  color: white;
  width: 100%;
  padding: 1rem;
  margin: 11px 0rem;
  width: 99%;
  border: 1px solid gray;
  border-radius: 1px;
  border: 0;
}
.container > .book {
  color: var(--black);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 4px;
  border: 1px solid lightslategrey;
  background-color: white;
}
div.book{
  margin:20px;
  padding: 0px;
}
.overlay{
  background-color: var(--black);
}

.book button {
  margin-top: 1rem;
}

@media (min-width: 800px) and (max-width:1200px) {

main .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
}



@media (min-width: 500px) and (max-width:800px) {
  main .container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 100px;
  }
  .container > .book {
    padding: 4px;
  }
  div.book {
    margin: 4px;
  }
  body {
    padding: 1rem;
  }
  form {
    width: 300px;
  }
  form.new {
    width: 50%;
    grid-template-columns: 1fr;
}
form input {
  padding: 1rem;
  margin: 0 0rem;
  width: 80%;
  border-radius: 1px;
  border: 0;
  border: .65px solid var(--gray);
}
input[type="submit"], button {
  width: 70%;

}

}



@media (max-width:500px) {

  main .container{
    display: grid;
    grid-template-columns: 1fr;
  }
  .container > .book {
    padding: 4px;
  }
  div.book {
    margin: 4px;
  }
  body {
    padding: 1rem;
  }
  form {
    width: 200px;
  }
  form.new {
    width: 90%;
    grid-template-columns: 1fr;
  

}
form input {
  padding: 1rem;
  margin: 0 0rem;
  width: 80%;
  border-radius: 1px;
  border: 0;
  border: .65px solid var(--gray);
}
input[type="submit"], button {
  width: 70%;

}
}
 